<div id = "display_event">
	<table>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Description</th>
		</tr>
		{% for d in data %}
		<tr >
			<td>{{ d.event }}</td>
			<td>{{ d.location }}</td>
			<td>{{ d.start_time }}</td>
			<td>{{ d.end_time }}</td>
			<td>{{ d.description }}</td>
			<td onclick = "return delete_event('{{ d.event_id }} ');"><i class="fa fa-scissors" aria-hidden="true"></i>
</td>
		</tr>
		{% endfor %}
	</table>
</div>