<div  id = "{{ box_id }}" onsubmit = "return enter_event('{{ box_id }}');">
	<form name = "enter_event_form" method = "POST">
		<input type = "text" name = "event_name" placeholder = "Event Name"><br>
		<input type = "text" name = "location" placeholder = "Location"><br>
		<input type = "number" name = "start_time" placeholder = "Start Time"><br>
		<input type = "number" name = "end_time" placeholder = "End Time"><br>
		<textarea width= '50' height = "60" name="event_description">Description</textarea><br>
		<input type="submit" value="CREATE">
	</form>
</div>
