<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<style type="text/css">
	#left
	{
		background-color: #2ed39e;
		width: 20%;
		height: 100vh;
		padding-top: 40px;
		padding-left: 10px;
		float: left;
	}
	#right
	{
		float: left;
		width: 80%;
		height: 100vh;
	}
	#show_time
	{
		color: white;
		padding-left: 50px;
	}
	.day
	{
		height: 90px;
    	width: 140px;
    	border: 0.5px solid #e5e6e7;
    	float: left;
	}
	.week_name
	{
		height: 40px;
		width: 140px;
    	border-top: solid;
    	border-left: none;
    	border-bottom: solid;
    	border-right: none;
    	border-color: #e5e6e7;
    	padding-top: 2px;
    	border-width: 1px;
    	color: #e5e6e7;
    	float: left;
	}
	#month_view
	{
		padding-left: 50px;
		padding-top: 20px;

	}
	#mymodal
	{
				border-style: solid;
				border-color: #ff8787;
				background-color: white;
				width: 30vw;
				height: 50vh;
				padding: 30px;
				border-width: 4px;
				margin-top: 100px;
				margin-left: 500px;
	}
	.widget
	{
		border: none;
		display: inline;
	}
	.show_create_event
	{
		padding-top: 50px;
	}

	.show_create_event a:link
	{
		color: #2ed39e;
		text-decoration: none;
	}
	.show_create_event a:visited
	{
		color: #2ed39e;
	}
	
	</style>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/be07f3268c.js"></script>
	<link rel="stylesheet" href=' {{ url_for("static", filename = "css/pickmeup.css") }}' type="text/css" />
	<link rel="stylesheet" media="screen" type="text/css" href=' {{ url_for("static", filename = "css/demo.css") }}' />
	<script type="text/javascript" src=' {{ url_for("static", filename = "js/pickmeup.js") }}'></script>
	<script type="text/javascript" src=' {{ url_for("static", filename = "js/demo.js") }}'></script>
	</head>
<body>
	<div id="left">
		<div class="single"></div>
		<div id="show_time"></div>
	</div>
	<div id="right">
		<div class = "widget">
			<center><i id ="next_month" class="fa fa-chevron-up"></i> 
			<i id = "previous_month" class="fa fa-chevron-down"></i>
			<i>{{ year_month }}</i></center>
		</div>
	<div id="month_view">
		<div class="row">
		<div class="week_name">Mo</div>
		<div class="week_name">Tu</div>
		<div class="week_name">We</div>
		<div class="week_name">Th</div>
		<div class="week_name">Fr</div>
		<div class="week_name">Sa</div>
		<div class="week_name">Su</div>
		</div>
		<div class = "row">
			{% for i in range(first_row_padding) %}
			<div class="day"></div>
			{% endfor %}
			{% for d in first_row %}
			<div class="day"> {{ d }}
				<div class = "show_create_event">
				<a  href="javascript:void(0);" onClick = "return display_event('{{year}}{{month}}{{d}}');" style="padding-right:45px;">Events</a>
				<a id = "create_event_id" href="javascript:void(0);" onClick = "return create_event('{{year}}{{month}}{{d}}');">Create</a>
			   </div>
			</div>
			{% endfor %}
		</div>
		{% for rw in middle_rows %}
			<div class="row">
				{% for d in rw %}
				<div class="day"> {{ d }}
				<div class = "show_create_event">
				<a  href="javascript:void(0);" onClick = "return display_event('{{year}}{{month}}{{d}}');" style="padding-right:45px;">Events</a>
				<a id = "create_event_id" href="javascript:void(0);" onClick = "return create_event('{{year}}{{month}}{{d}}');">Create</a>
			   </div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
		<div class="row">
			{% for d in last_row %}
			<div class="day"> {{ d }}
				<div class = "show_create_event">
				<a  href="javascript:void(0);" onClick = "return display_event('{{year}}{{month}}{{d}}');" style="padding-right:45px;">Events</a>
				<a id = "create_event_id" href="javascript:void(0);" onClick = "return create_event('{{year}}{{month}}{{d}}');">Create</a>
			   </div>
			</div>
			{% endfor %}
			{% for i in range(last_row_padding) %}
			<div class="day"></div>
			{% endfor %}
		</div>
		{% if not sixth_line %}
			<div class="row">
				{% for i in range(7) %}
				<div class="day"></div>
				{% endfor %}
			</div>
		{% endif %}

		<div class = "modal fade" id = "mymodal">
		</div>
	</div>

	</div>
	</div>
<script type="text/javascript">
	$(document).ready(function(){
	var updateclock = function(){
			var d = new Date();
			var hour = d.getHours();
			var minutes = d.getMinutes();
			if(minutes<10)
			{
				minutes = "0"+minutes;
			}
			if(hour<12)
			{
				var s =    "<span style='font-size: 40px;' >" + hour+":"+minutes+ "</span>"+ "am";

			}
			else
			{
				hour = hour - 12;
				var s =    "<span style='font-size: 40px' >" + hour+":"+minutes+ "</span>"+ "pm";
			}
			document.getElementById("show_time").innerHTML = s;
	};
	setInterval(updateclock, 1000);

	$(document).on("click", "#next_month", function(){
		$.get('{{ url_for("next_month") }}',function(data){
			var s = data["next_month"];
			document.getElementById("right").innerHTML = s;
		});
	});

	$(document).on("click", "#previous_month",function(){
		$.get('{{ url_for("previous_month") }}',function(data){
			var s = data["previous_month"];
			document.getElementById("right").innerHTML = s;
		});
	});
	});
	
	function display_event(box_id)
	{

		 $.post('{{ url_for("display_event") }}', {box_id:box_id}, function(data){
			var s = data["template"];
			if(s != "nothing")
			{
				$("#mymodal").html(s);
				$("#mymodal").modal("hide");
				$("#mymodal").modal();
			}
		});
		return false;
	}

	function create_event(box_id)
	{
		 $.post("{{ url_for('get_create_template') }}", {box_id:box_id}, function(data){
			var s = data["template"];
			$("#mymodal").html(s);
			$("#mymodal").modal();  
		});
		return false;
	}

	function delete_event(event_id)
	{
		$.post(" {{ url_for('delete_event') }}", {event_id:event_id});
		$("#mymodal").modal("hide");
	}
	 function enter_event(box_id)
	 {
	 	var event_name = document.forms["enter_event_form"]["event_name"].value;
	 	var location = document.forms["enter_event_form"]["location"].value;
	 	var start_time = document.forms["enter_event_form"]["start_time"].value;
	 	var end_time = document.forms["enter_event_form"]["end_time"].value;
	 	var event_description = document.forms["enter_event_form"]["event_description"].value;
	 	var dict = {
	 		box_id:box_id,
	 		event_name:event_name,
	 		location:location,
	 		start_time:start_time,
	 		end_time:end_time,
	 		event_description:event_description
	 	}
	 	$.post("{{ url_for('create_event') }}", dict);
	 	$("#mymodal").modal("hide");
	 	return false;
	 }
	</script>

	
</body>
