<div class = "widget">
			<center><i id ="next_month" class="fa fa-chevron-up"></i> 
			<i id = "previous_month" class="fa fa-chevron-down"></i>
			<i>{{ year_month }}</i></center>
		</div>
	<div id="month_view">
		<div class="row">
		<div class="week_name">Mo</div>
		<div class="week_name">Tu</div>
		<div class="week_name">We</div>
		<div class="week_name">Th</div>
		<div class="week_name">Fr</div>
		<div class="week_name">Sa</div>
		<div class="week_name">Su</div>
		</div>
		<div class = "row">
			{% for i in range(first_row_padding) %}
			<div class="day"></div>
			{% endfor %}
			{% for d in first_row %}
			<div class="day"> {{ d }}
				<div class = "show_create_event">
				<a href="javascript:void(0);" onClick = "return display_event('{{year}}{{month}}{{d}}');" style="padding-right:45px;">Events</a>
				<a id = "create_event_id" href="javascript:void(0);" onClick = "return create_event('{{year}}{{month}}{{d}}');">Create</a>
			   </div>
			</div>
			{% endfor %}
		</div>
		{% for rw in middle_rows %}
			<div class="row">
				{% for d in rw %}
				<div class="day"> {{ d }}
					<div class = "show_create_event">
				<a href="javascript:void(0);" onClick = "return display_event('{{year}}{{month}}{{d}}');" style="padding-right:45px;">Events</a>
				<a id = "create_event_id" href="javascript:void(0);" onClick = "return create_event('{{year}}{{month}}{{d}}');">Create</a>
			   </div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
		<div class="row">
			{% for d in last_row %}
			<div class="day"> {{ d }}
				<div class = "show_create_event">
				<a href="javascript:void(0);" onClick = "return display_event('{{year}}{{month}}{{d}}');" style="padding-right:45px;">Events</a>
				<a id = "create_event_id" href="javascript:void(0);" onClick = "return create_event('{{year}}{{month}}{{d}}');">Create</a>
			   </div>
			</div>
			{% endfor %}
			{% for i in range(last_row_padding) %}
			<div class="day"></div>
			{% endfor %}
		</div>
		{% if not sixth_line %}
			<div class="row">
				{% for i in range(7) %}
				<div class="day"></div>
				{% endfor %}
			</div>
		{% endif %}
		<div class="modal fade" id = "mymodal"></div>
	</div>